button {   
    background-color: #4CAF50;   
    width: 100%;  
     color: rgb(20, 39, 163);   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
     border: 2px solid red;
      }   
form {   
     border: 3px solid #f1f1f1;   
     width: 50%;
     margin: auto;
 }   
input[type=text], input[type=password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid green;   
     box-sizing: border-box;   
 }  
button:hover {   
     opacity: 0.7;   
 }   
.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }   
     
  
.container {   
     padding: 25px;   
     background-color: lightblue;  
 }  
 
 .Aaddnewlistbutton{
    width: 200px;height: 50px;
    background-color: aqua;
 }
 .Aaddnewlistinput{
    width: 200px;
    height: 30px;
 }
 .listform{
    display: grid;
    margin: auto;
    border: 2px solid rgb(17, 198, 225);
    padding: "20px";
    justify-content: center;
 }
